ENVIRONMENT=development
CORS_ORIGINS=["http://localhost:3000"]

OPENAI_API_KEY=
LLM_MODEL_NAME=gpt-4o-mini
LLM_TEMPERATURE=0.0

PINECONE_API_KEY=
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=drug-knowledge-base

SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_JWT_SECRET=
